language: python:3.7
before-install:
  - cd DataPostProcess
install:
  - pip3 install -r requirements.txt
script:
  - echo "Hi from Post process"
after-success:
  - docker login -u $username -p $password
  - export $TAG = $(docker images | awk '($1 == "teamyoda/datapostprocess") {print $2 += 0.01; exit}')
  - echo $TAG
  - docker build -t teamyoda/datapostprocess:$TAG .
  - docker push teamyoda/datapostprocess:$TAG
branches:
  only:
    - DataPostProcessorAPI
