language: python:3.6
before-install:
  - cd RealTime
install:
  - pip3 install -r requirements.txt
script:
  - echo "Hi from Real Time"
after-success:
  - RealTime
  - docker login -u $username -p $password
  - echo $TRAVIS_BUILD_NUMBER
  - docker build -t teamyoda/realtime:latest .
  - docker push teamyoda/realtime:latest
branches:
  only:
    - RealTimeAPI