-language: java
    jdk:
      - openjdk8
    before_install: cd Session/KafkaConsumer
    script:
      - mvn clean install
      - mvn spring-boot:run
    

    branches:  
      only:
        - 118-a