language: node_js
node_js: 10.16
services:
    - docker

before-install:
# - npm i -g npm@version-number
    - cd GatewayServer
install:
    - npm install
script: 
    - npm run est
    - echo "hi"
after-success:
    - cd GatewayServer
    - docker login -u $username -p $password
    - docker build -t teamyoda/gatewayserver:latest .
    - docker push teamyoda/gatewayserver:latest
branches:
    only:
        - GatewayServerAPI