language: node_js
node_js: 10.16
services:
  - docker

before-install:
  - openssl aes-256-cbc -K $encrypted_dfdcfd5172af_key -iv $encrypted_dfdcfd5172af_iv -in deploy_key.enc -out ./deploy_key -d
  - cd GatewayServer
install:
  - npm install
script:
  - npm run test
  - echo "hi"
after-success:
  - cd GatewayServer
  - docker login -u $username -p $password
  - docker build -t teamyoda/gatewayserver:$TRAVIS_COMMIT .
  - docker push teamyoda/gatewayserver:$TRAVIS_COMMIT
  - chmod 600 ../deploy_key && ssh -o StrictHostKeyChecking=no -i ../deploy_key ubuntu@149.165.171.52 "~/DeliveryFiles/gatewayServerDeploy.sh gatewayserver $TRAVIS_COMMIT"
  - echo "All process done successfully"
branches:
  only:
    - GatewayServerAPI
