
matrix:
  include:
    - language: java
    jdk:
      - openjdk8
    java: "8"
    before_install: cd Session/KafkaConsumer
    install:
      - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
    script:
      - mvn clean install

    - language: node_js
      node_js: "10.16"
      install:
        - cd GatewayServer
        - npm install
      #script: 
       # - npm start


    - language: node_js
      node_js: "10.16"
      install:
        - cd User
        - npm install
      #script: 
      #  - npm start

    # branches:  
    #   only:
    #     - 118-a