language: python:3.6
before-install:
  - cd DataPostProcess
  - echo `$TRAVIS_COMMIT`
  - echo '{$TRAVIS_COMMIT}'
  - echo '"$TRAVIS_COMMIT"'
  - openssl aes-256-cbc -K $encrypted_dfdcfd5172af_key -iv $encrypted_dfdcfd5172af_iv -in deploy_key.enc -out ./deploy_key -d
install:
  - pip3 install -r requirements.txt
script:
  - echo "Hi from Post process"
after-success:
  - docker login -u $username -p $password
  - echo $TRAVIS_BUILD_NUMBER
  - docker build -t teamyoda/datapostprocess:$TRAVIS_COMMIT .
  - docker push teamyoda/datapostprocess:$TRAVIS_COMMIT
  - chmod 600 ../deploy_key && ssh -o StrictHostKeyChecking=no -i ../deploy_key ubuntu@149.165.171.52 `~/DeliveryFiles/dataPostProcessDeployment.sh $TRAVIS_COMMIT`
  - echo "All process done successfully"
branches:
  only:
    - DataPostProcessorAPI
