language: node_js
node_js: 10.16
before-install:
# - npm i -g npm@version-number
- cd GatewayServer
install:
- npm install
script: 
# - npm start
after-success:
- docker login -u $username -p $password
- docker build -t teamyoda/gatewayserver:latest .
- docker push teamyoda/gatewayserver:latest